
		body{
			background-color: yellow;
		}
		h1{
			color: blue;
			text-align: center;
			
			
			
			
		}
		p{
			
			font-size: large;
			color: pink;
			padding-bottom: 250px

		}
		img{
			float: left;
			padding-left: 10%
			padding-right: 10%

		}

		table{
			float: right;
			margin-right: 30%
		}

		p em{ font-weight: bolder;
			font-size: 30px
			

		 }

		
	